.move-list {
  padding: 5px;
  border: solid 1px;
  border-radius: 5px;
  font-size: 9pt;
  overflow: hidden;
}

#board {
  font-family: monospace;
  font-size: 12pt;
  border: solid 1px black;
  width: 11%;
  height: 10em;
  padding: 8px;
  color: white;
  background: steelblue;
  margin-left: 45%;
}